name: Run SnowShovel

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}

jobs:
  discover:
    runs-on: ubuntu-22.04
    outputs:
      matrix: ${{ steps.split_work.outputs.work }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Split work
        id: split_work
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          GIT_USER: JavaSauce
          GIT_PASS: ${{ secrets.GIT_PASS }}
        run: |
          .github/scripts/run.sh --gitRepo https://github.com/JavaSauce/Shoveled --gitClean --gitPush --gen-matrix ./matrix.json
          if [[ -f matrix.json ]]; then
            echo "work=$(jq -c . matrix.json)" | tee $GITHUB_OUTPUT
          fi

  process_versions:
    runs-on: ubuntu-22.04
    needs: [ discover ]
    if: ${{ needs.discover.outputs.matrix != '' }}
    strategy:
      max-parallel: 16 # The org can only run 20 jobs in parallel in total, limit this so other projects can do stuff too.
      matrix: ${{ fromJSON(needs.discover.outputs.matrix) }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Pull cache
        env:
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          echo '${{ matrix.jobs.request }}' > matrix-segment.json
          aws s3 sync --no-progress s3://snow-shovel-cache/libraries ./libraries
          includes=$(jq -r '[.versions[].id | "--include \(. )/*"] | join(" ")' matrix-segment.json)
          aws s3 sync --no-progress --exclude "*" $includes s3://snow-shovel-cache/versions ./versions
      - name: ${{ matrix.jobs.name }}
        env:
          GIT_USER: JavaSauce
          GIT_PASS: ${{ secrets.GIT_PASS }}
        run: |
          echo '${{ matrix.jobs.request }}' > matrix-segment.json
          .github/scripts/run.sh --gitRepo https://github.com/JavaSauce/Shoveled --gitClean --gitPush --run-matrix matrix-segment.json
      - name: Push cache
        if: always()
        env:
          AWS_ENDPOINT_URL: ${{ secrets.AWS_ENDPOINT_URL }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        run: |
          aws s3 sync --no-progress ./libraries s3://snow-shovel-cache/libraries
          aws s3 sync --no-progress ./versions s3://snow-shovel-cache/versions
  finalize_run:
    runs-on: ubuntu-22.04
    needs: [ discover, process_versions ]
    if: ${{ needs.discover.outputs.matrix != '' }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
      - name: Run
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          GIT_USER: JavaSauce
          GIT_PASS: ${{ secrets.GIT_PASS }}
        run: |
          echo '${{ needs.discover.outputs.matrix }}' > matrix.json
          .github/scripts/run.sh --gitRepo https://github.com/JavaSauce/Shoveled --gitClean --gitPush --finalize-matrix matrix.json
